.article-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 250px;
}

/* Article title and buttons part styles*/

.article-title-button-container {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.article-title {
    color: white;
    width: 630px;
    max-width: 640px;
    font-weight: bold;
    font-size: 21px;
}

.article-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.article-reposts-counter {
    font-size: 18px;
}

.article-button {
    background: #293038;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 90px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: background 0.5s;
}

.article-button:hover {
    border: 2px solid #ffffff;
}

.article-button-active {
    background: transparent;
    border: 2px solid #293038;
}

/* Article image styles */

.article-img {
    width: 900px;
    border-radius: 8px;
    object-fit: cover;
}

/* Article main text styles */

.article-main-text {
    width: 100%;
    color: white;
    font-weight: normal;
    font-size: 24px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.article-main-text blockquote {
    background-color: #293038;
    border-radius: 8px;
    border-left: 5px solid #810a0a;
    padding: 10px 15px;
    margin: 10px 0;
    color: #ffffff;
}

.article-main-text img {
    border-radius: 8px;
    width: 75%;
    object-fit: fill;
}

.article-main-text pre {
    background-color: #293038;
    border-radius: 8px;
    padding: 10px;
    overflow-x: auto;
    margin: 10px 0;
}

.article-main-text code {
    background-color: #293038;
    padding: 2px 4px;
    font-family: 'Roboto', sans-serif;
}

.article-text-link {
    border: 0.5px solid transparent;
    width: 104px;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background: #293038;
    border-radius: 8px;
    color: #9eabb8;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.5s;
}

.article-text-link:hover {
    border: 0.5px solid #293038;
    background: #121417;
}

/* Article author text styles */

.article-author-place {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.article-author-rule {
    flex-grow: 1;
    margin-right: 10px;
    border: none;
    border-bottom: 2px solid #293038;
}

.article-author {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}
