.header {
    position: sticky;
    top: 0;
    background-color: rgb(8.24% 9.02% 10.2% / 0.7);
    backdrop-filter: blur(30px);

    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 160px;
    z-index: 1000;
}
.header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-logo {
    align-self: center;
    font-size: 24px;
}
.header-logo-link {
    text-decoration: none;
    color: #9eabb8;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.header-logo-img {
    width: 150px;
}
