@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #121417;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

.main-outlet {
    margin: 0 auto;
    max-width: 1280px;
}

a {
    text-decoration: inherit;
}

p {
    font-size: clamp(8px, 2vw, 16px);
}

body {
    margin: 0;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: none;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;
    transition: background 0.25s;
    background-color: #293038;
    color: #9eabb8;
    font-weight: bold;
    font-size: 16px;
}

button:hover {
    background: #121417;
    border: 2px solid #293038;
}

.link-to {
    font-weight: bold;
    font-size: 16;
    text-decoration: none;
    color: #9eabb8;
    opacity: 50%;
    transition: ease 0.25s;
}

.link-to:hover {
    color: rgb(189, 202, 216);
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
